@import url(main.css);

.cabecalho {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #6D74C6;
  height: flex;
  padding: 0.345rem;
}

.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  font-size: larger;
  text-decoration-line: underline;
}

.nav-list li:not(:last-child){
  letter-spacing: 0.1875rem;
  margin-right: 2rem;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 2rem;
  height: 0.125rem;
  background: #fff;
  transition: 300ms;
}
.mobile-menu div:not(:last-child)
{
  margin-bottom: 0.5rem;
}

@media (max-width: 62.4375rem) {
  body {
    overflow-x: hidden;
  }
  
  .nav-list {
    position: absolute;
    top: 9vh;
    right: 0;
    width: 45vw;
    height: 91vh;
    background: #6D74C6;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 300ms ease-in;
  }
  .nav-list li:not(:last-child){
    margin-right: 0;
    opacity: 0;
  }
  .mobile-menu {
    display: block;
  }
}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(3.125rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-0.5rem, 0.5rem);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-0.3125rem, -0.4375rem);
}

#dataHora {
  border-style: solid;
  padding: 0.250rem 0.3125rem;
  border-color: whitesmoke;
  border-radius: 0.625rem;
  color: rgb(24, 7, 124);
}