@import url(main.css);

h1{
  margin: 7vh 0 0 7vw;
  font-size: 3.125rem;
}
p{
  font-size: 1.375rem;
}
h2{
  font-size: 2.0625rem;
}

hr{
  margin: 2vh 7vw;
  border-top: 0.125rem solid ;
}

.contatos-container{
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    margin-left: 8vw;
  }
.integrante{
 padding: 0.75rem;
}
.informacoes{
  display: inline-block;
}
.integrante>img{
  float:left;
  margin-right: 0.75rem;
  height: 6.875rem;
  width: 6.875rem;
  border-radius: 50%;
  object-fit: cover;
}