@import url(main.css);

*{
    box-sizing: border-box;
    border: none;
}

.login-container{
    background-color: #b5baeb;
    width: 31.25rem;
    padding: 1.25rem 1.875rem;
    border-radius: 0.635rem;
    margin: 14vh auto 0 auto;
}

label, form>a{
    margin-top: 2vh;
    display: block;
}

h1{
    font-size: 2.1875rem;
}

label, #esqueceuSenha, p{
    font-size: 1rem;
}

label,input,#submit{
    width: 100%;
    text-align: left;
}

h1, #submit, p{
    text-align: center;
}

label{
    font-weight: bold;
    margin-bottom: 0.8vh;
}

input,#submit{
    padding: 0.625rem;
    font-size: 1.125rem;
    background-color: whitesmoke;
    border-radius:0.635rem;
}

#submit{
    text-transform: uppercase;
    border-radius: 3.75rem;
    background-color:#7d84d1;
}

#esqueceuSenha{
    text-align: right;
    margin-top: 1vh;
    color:darkblue;
}

p{
    color:  red;
    margin-top: 1vh;
}
