@import url(main.css);

h1{
  margin: 7vh 0 0 7vw;
}

hr{
  margin: 2vh 7vw;
  border-top: 2px solid ;
}

.textoSobrePrjt{
  margin: auto 8vw auto;
}

p{
  text-align: justify;
  margin-top: 1vh;
}

#fechaduraImg{
  margin-left:1vw ;
  float: right;
}
